* {
    text-align:center;
    margin:0;
    padding:0;
}
.leftfix{
    float:left;
}
.fixfloat::after{
    content:'';
    display:block;
    clear:both;
}
.head{
    margin-bottom:10px;
}
.logo,.banner2{
    width:200px;
    height:80px;
    background-color: #ccc;
    margin:0 10px;
}
.banner1{
    width:540px;
    height:80px;
    background-color: #ccc;
    margin:0 10px;
}
.menu {
    width:960px;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom:20px;
}
.content {
    margin-bottom:10px;
}
.box1,.box2 {
    width: 370px;
    height: 200px;
    margin-right:10px;
    margin-bottom:10px;
    border:1px solid #000;
}
.box3,.box4,.box5,.box6 {
    width: 180px;
    height: 200px;
    margin-right:10px;
}
.left {
    margin-bottom:10px;
}
.right{
    margin-bottom:10px;

}
.box7,.box8,.box9 {
    height: 130px;
    width: 200px;
    margin-right:10px;
    margin-bottom:10px;
    border:1px solid #000;
}
footer{
    clear:both;
    width:960px;
    height:60px;
    background-color:#000;
    color:#fff;
    font-size:20px;
    font-weight:bold;
    line-height:50px;
}
